@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 60px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 150;
  margin-top: 20px;
  z-index: 10;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.05),
    -1px 1px 20px rgba(0, 0, 0, 0.05);
  outline: none;
  border: none;
}

nav p {
  font-size: 1.3rem;
}

.navbar a {
  text-decoration: none;
  padding: 20px 20px;
  color: black;
  font-size: 1.3rem;
  margin-right: 20px;
  position: relative;
}

.navbar a:after {
  content: "";
  background-color: black;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 20;
  left: 20;
  transition: 0.3s ease;
}

.navbar a:hover:after {
  width: 60px;
}

/* introduction */

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.intro .content {
  background-color: rgb(42, 35, 35);
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.me {
  margin-left: -350px;
  margin-top: 10px;
}

.me button {
  background-color: blue;
  padding: 10px 20px;
  font-size: 1.3rem;
  color: white;
  border: none;
  border-radius: 10px;
}

.me button:hover {
  background-color: white;
  color: black;
  transition: 0.3s ease-out;
}
.text p {
  width: 500px;
  font-size: 3rem;
  color: white;
}
.Myimg {
  background-color: rgb(42, 35, 35);
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Myimg .photoMe {
  width: 400px;
  border-radius: 50%;
  border: 5px solid white;
}
/* What i do */

.hobby {
  width: 100%;
  height: 100%;
}

.hobby h2 {
  text-align: center;
  padding: 50px;
  font-size: 2rem;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  height: auto;
}

.col {
  width: 400px;
  height: 300px;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.05);
  padding: 10px 20px;
  line-height: 2;
}

.col h3 {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.col p {
  margin-bottom: 30px;
  font-size: 1.1rem;
}
.col a {
  text-decoration: none;
  font-size: 1.1rem;
}

.col a:hover {
  color: red;
  transition: 0.3s ease;
}

.col .bx {
  font-size: 3rem;
  color: red;
  text-align: left;
}

.col .bxs-chevrons-right {
  font-size: 1rem;
  color: inherit;
}

/* about me */

.aboutMe {
  width: 100%;
  height: 100%;
  background-color: rgb(221, 244, 247);
  margin-top: 50px;
}

.aboutMe h2 {
  text-align: center;
  padding: 50px;
  font-size: 2rem;
}

.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.text2 {
  width: 800px;
}

.text2 p {
  font-size: 1.3rem;
  line-height: 2;
  font-weight: 300;
  /* width: 700px; */
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin-left: -90px;
}

.col2:nth-child(1) {
  margin-bottom: 40px;
}

.col2 {
  line-height: 2;
}

.col2 h4 {
  font-size: 1.3rem;
  font-weight: 800;
  margin-right: -2px;
}

.col2 h5 {
  font-weight: 600;
  font-size: 1rem;
}

.col2 .bxs-briefcase {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 50%;
  margin-right: 7px;
}

.col2 .bx-building-house {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 50%;
  margin-right: 7px;
}

.col2 a,
.text2 a {
  text-decoration: none;
  font-size: 1.1rem;
}

.col2 a:hover,
.text2 a:hover {
  color: red;
  transition: 0.3s ease-out;
}

/* where to find me */

.findMe {
  width: 100%;
  height: 100%;
}

.findMe h2 {
  text-align: center;
  padding: 50px;
  font-size: 2rem;
}

.row3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.myschool {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.text-content {
  width: 900px;
}

.text-content h3 {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.text-content p {
  font-size: 1.1rem;
  font-weight: 300;
}

.text-content .view {
  color: blue;
  border: 2px solid blue;
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  cursor: pointer;
}

.text-content .view:hover {
  background-color: blue;
  color: white;
}

.text-content .view a {
  text-decoration: none;
  padding: 0 10px;
}

.text-content .view a:hover {
  color: white;
}

/* reverse  */
.myschool2 {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 30px;
}

.view2 {
  margin-left: 710px;
}

/* my project */

.myproject {
  width: 100%;
  height: 150%;
  background-color: white;
}

.myproject h2 {
  text-align: center;
  padding: 50px;
  font-size: 2rem;
}
.row4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.row-img img {
  width: 800px;
  height: 250px;
  object-fit: cover;
}

.row-img h4,
.video h4 {
  font-size: 1.3rem;
  font-weight: 700;
}

.row-img p,
.video p {
  font-size: 1.1rem;
  font-weight: 500;
  color: gold;
}

.col-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.imgpro img {
  width: 390px;
  height: 250px;
}

.col-img2 img {
  width: 350px;
  height: 250px;
}

.col-img h4 {
  font-size: 1.3rem;
}

.col-img p {
  font-size: 1.1rem;
  color: rgb(32, 199, 32);
  font-weight: 500;
}

/* the last */

.the-end {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1px;
}

.the-end .get-in-touch {
  background-color: rgb(197, 195, 195);
  width: 600px;
  height: 500px;
  padding: 100px 50px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.04);
}

.get-in-touch h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.get-in-touch p {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 20px;
}

.contact p {
  font-style: italic;
  margin: 0;
  line-height: 2;
}

.contact p:nth-child(3) {
  margin-bottom: 40px;
}

.the-end .link-icon {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.link-icon a {
  font-size: 1.3rem;
  color: black;
  text-decoration: none;
}

/* login */

.log-in {
  background-color: white;
  width: 40%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border: 2px solid gray;
  padding: 30px;
  border: none;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-top: 70px;
}

.container2 {
  margin-left: -150px;
}

.container input {
  width: 250px;
  padding: 10px;
  height: 30px;
}

.container2 input {
  width: 500px;
  height: 30px;
  padding: 10px;
}

.container2 .message {
  height: 80px;
  padding: 10px;
}
.container2 {
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container2 .wrapper:nth-child(1) {
  margin-bottom: 20px;
}
.container2 .wrapper:nth-child(2) {
  margin-bottom: 20px;
}
.container2 .wrapper:nth-child(3) {
  margin-bottom: 20px;
}

.btn button {
  padding: 15px;
  width: 150px;
  background-color: blue;
  color: white;
  margin-top: 20px;
  margin-left: 350px;
  border: none;
}

.btn button:hover {
  background-color: rgb(255, 255, 255);
  color: blue;
  border: 1px solid gray;
  transition: 0.3s ease-out;
}

/* mobile view */
@media (device-width: 360px) and (device-height: 640px) {
  /* nav and intro */
  nav {
    display: none;
  }

  .myimg {
    display: none;
  }
  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225%;
    height: 50%;
    margin-left: -10px;
  }

  .intro .text p {
    font-size: 1rem;
  }

  .intro .content {
    margin-right: 390px;
  }

  .text P {
    font-size: 1rem;
    text-align: justify;
    width: 300px;
  }
  .me button {
    background-color: blue;
    padding: 10px 10px;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 150px;
  }

  /* hobby  */
  .hobby {
    width: 100%;
    height: 80%;
  }

  .col {
    width: 300px;
    height: 200px;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.05);
    padding: 10px 20px;
    line-height: 2;
  }

  .col h3 {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }

  .col p {
    margin-bottom: 30px;
    font-size: 1.1rem;
  }
  .col a {
    text-decoration: none;
    font-size: 1.1rem;
  }

  .col .bx {
    font-size: 2rem;
    color: red;
    text-align: left;
  }

  .col h3 {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .col p {
    margin-bottom: 8px;
    font-size: 1rem;
  }
  .col a {
    text-decoration: none;
    font-size: 1rem;
  }

  .box .bx {
    font-size: 1rem;
  }

  .col:nth-child(2) p {
    line-height: 1.2;
  }

  .hobby h2 {
    text-align: center;
    padding: 50px;
    font-size: 2rem;
    margin-left: 50px;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    height: auto;
    margin-left: 60px;
  }

  /* about me */
  .aboutMe {
    width: 120%;
    height: 140%;
    background-color: rgb(221, 244, 247);
    margin-top: 1000px;
    margin-left: 0px;
  }

  .text2 {
    margin-left: 100px;
    padding: 0px 70px;
    width: 650px;
  }

  .text2 p {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
    width: 400px;
  }

  .row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
  }

  /* where to find me */

  .findMe h2 {
    text-align: center;
    padding: 50px;
    font-size: 2rem;
    margin-left: 50px;
    margin-bottom: 150px;
  }

  .text-content {
    width: 500px;
  }

  .text-content2 {
    width: 500px;
  }

  .text-content p {
    margin-left: -1px;
  }

  .findMe {
    margin-bottom: 540px;
    position: relative;
  }
  .findMe .img img {
    width: 100px;
    margin-right: 500px;
    position: absolute;
    top: 150;
    left: 155;
  }

  .myschool {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0;
  }

  .text-content p {
    font-size: 1rem;
    font-weight: 300;
    width: 430px;
    padding: 10px;
  }

  .text-content {
    padding: 0px 70px;
  }

  .text-content h3 {
    margin-bottom: 10px;
    font-size: 1.4rem;
    margin-left: 10px;
  }

  .myschool2 {
    display: flex;
    margin-top: 30px;
  }

  .view2 {
    margin-left: 0px;
  }
  .myschool2 {
    position: relative;
    margin-top: 200px;
  }

  .findMe .img2 img {
    width: 100px;
    margin-right: 500px;
    position: absolute;
    top: -180;
    left: 220;
  }

  .view {
    margin-left: 10px;
  }

  /* project */

  .myproject {
    margin-bottom: 1300px;
  }
  .myproject h2 {
    text-align: center;
    padding: 50px;
    font-size: 2rem;
    margin-left: 50px;
  }

  .row-img {
    margin-left: 20px;
  }
  .row-img img {
    width: 435px;
    height: 250px;
    object-fit: cover;
    margin-left: 40px;
    padding: 0px 20px;
  }

  .row-img h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 60px;
  }
  .row-img p {
    font-size: 1rem;
    margin-left: 60px;
    font-weight: 300;
  }

  .video h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 20px;
  }

  .video p {
    font-size: 1rem;
    font-weight: 300;
    color: gold;
    margin-left: 20px;
  }

  .video iframe {
    width: 435px;
    padding: 0px 20px;
  }

  .video {
    margin-left: 60px;
  }

  .col-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }

  .col-img .imgPro {
    padding: 0px 20px;
    margin-left: 50px;
  }

  .imgPro img {
    width: 435px;
    padding: 0px 20px;
    margin-left: 10px;
  }

  .imgPro h4,
  p {
    margin-left: 30px;
    font-size: 1rem;
  }

  .imgPro p {
    font-weight: 300;
    font-size: 1rem;
  }

  /* the end */
  .the-end {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 1px;
  }

  .get-in-touch {
    margin-left: 300px;
  }

  .the-end .get-in-touch {
    background-color: rgb(197, 195, 195);
    width: 220%;
    height: 600px;
    padding: 100px 100px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.04);
    /* margin-left: 400px; */
    left: 0;
    right: 0;
  }

  .get-in-touch h2 {
    font-size: 3rem;
  }

  .get-in-touch p {
    font-size: 1.4rem;
  }

  .contact p {
    font-size: 1.5rem;
  }

  .link-icon a {
    font-size: 2rem;
  }

  /* log in */
  .log-in {
    background-color: white;
    width: 200%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border: 2px solid gray;
    padding: 50px;
    border: none;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
    margin-left: 400px;
  }

  .container input {
    width: 300px;
    padding: 20px;
    height: 30px;
  }
  .container .wrapper:nth-child(2) {
    margin-right: 100px;
  }
  .container2 input {
    width: 300%;
    height: 30px;
    padding: 10px;
    margin-left: -150%;
  }

  .container2 .wrapper label {
    margin-left: -150%;
  }

  .container2 .message {
    height: 80px;
    width: 150%;
    padding: 10px;
    margin-right: 90%;
    margin-left: -25%;
    max-width: 100%;
    left: 0;
    right: 0;
  }

  .btn button {
    padding: 15px;
    width: 150px;
    background-color: blue;
    color: white;
    margin-top: 20px;
    margin-left: 350px;
    margin-right: -100px;
    border: none;
  }

  body {
    overflow-x: hidden;
  }
}
